<!-- Top Header Area Start-->
<div class="header-top">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-6 header-content">
                <div class="email-content">
                    <a href="mailto:raselrostock@gmail.com">
                        <i class="fas fa-envelope-open"></i> raselrostock@gmail.com
                    </a>
                </div>
            </div>
            <div class="col-md-6 header-content">
                <div class="social-content">
                    <a href="#">
                    <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                    <i class="fab fa-facebook"></i>
                    </a>
                    <a href="#">
                    <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top Header Area End-->